 :root {
   --line-height: 1em;
   --post-width: 100vh;
   --main-width: 100vh;
   --tertiary: rgba(100, 174, 205, 0.50);
 } 
 .dark{
   --primary: #23b06c;
 }
 
 article.post-single{
   border-radius: 20px;
   padding: 20px 40px 40px 40px;
 }
 
 .list-archive .main,
 #top article.post-single{
   -webkit-backdrop-filter: blur(30px);
   backdrop-filter: blur(30px);
   background-color: rgba(104, 152, 191, 0.254);
 }
 
 .list-archive.dark .main,
 #top.dark article.post-single{
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   background-color: #0f0e17af;
 }

  .entry-cover {
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   max-height: 25vh;
   width: auto;
 }

.dark .archive-month:not(:last-of-type){
   border-bottom: 2px dashed #957029a6;
 }
 
 .archive-month:not(:last-of-type){
   border-bottom: 2px dashed rgba(0,0,0,0.5);
 }
 
 .dark .archive-year:not(:last-of-type){
   border-bottom: 4px double rgba(152, 8, 98, 0.55);
 }
 
 .archive-year:not(:last-of-type){
   border-bottom: 4px double rgba(0, 0, 0, 0.64);
 }
 
 .list.search.dark h1{
   color: #001e1d;
 }
 
 .list.search.dark #searchbox input {
   color: #e53170;
   border: 4px solid #e53170;
 }
 
 .list.search.dark #searchbox input::placeholder{
   color:#e53170;
 }
 
 /* post color setting  inline code */
 .post-content li code,
 .post-content p code,
 .post-content td:not(lntd) code{
   -webkit-backdrop-filter: blur(30px);
   backdrop-filter: blur(30px);
   background: #36387926;
 }

.toc{
    background: unset;
    border: 2px solid black;
}

.dark .toc-container.wide,
.toc-container.wide{
    border-left: unset;
}

.toc li a.active,
.toc li a:hover{
    color: rgba(48,37,155,1);
}

.entry-content + footer{
  display: inline-block;
}

.tags{
  /* display: inline-block; */
  float: right;
}