 :root {
   --line-height: 1em;
   --post-width: 100vh;
   --main-width: 100vh;
 } 
 .dark{
   --primary: #23b06c;
 }
 
 article.post-single{
   border-radius: 20px;
   padding: 20px 40px 40px 40px;
 }
 
 .list-archive .main,
 #top article.post-single{
   -webkit-backdrop-filter: blur(30px);
   backdrop-filter: blur(30px);
   background-color: rgba(104, 152, 191, 0.254);
 }
 
 .list-archive.dark .main,
 #top.dark article.post-single{
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   background-color: #0f0e17af;
 }
 
